<!DOCTYPE html>
<html>
<head>
<title>Text Input Control</title>
</head>
<body>
<form method="post" action="/addBook">
书名:  <input type="text" name="name" />
<br>
作者:  <input type="text" name="author" />
<br>
简介:  <input type="text" name="desc" />

<input type="submit" value="确定添加">

</form>


</body>
</html>
