<html>

<body>
    <p><%=name%>
        <p/>
                <br> 作者:
                <%=author%>
                    <br> 简介：
                    <br>
                    <textarea readonly rows="5" cols="50" id="desc"> </textarea>
                    <div id="count">---</div>
                    <div id="lastcount">---</div>
                    <br>

                    <button type="button" onclick="borrowBooks()"> 借 书 </button>
<br><br>

                    借书记录：

                    <div id="log"></div>
        <script>
            //  var url_parts = url.parse(req.url, true);
            //  var bookid = url_parts.query.bookid;
          var bookid = getUrlVars()["bookid"];
          var bookName = getUrlVars()["name"];
          var bookAuthor= getUrlVars()["author"];
          var totalBook = 0;
          var readers = new Array;

            fetchBookDetail();

            function fetchBookDetail() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        parseJsonToTable(this.responseText);
                    }
                };

                xhttp.open("GET", "getbookdetail?bookid=" + bookid, true);
                xhttp.send()
            }

            function fetchBookBorrowInfo() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        readers = JSON.parse(this.responseText);
                        updateReaderList();
                    }
                };

                xhttp.open("GET", "getbookborrowlist?bookid=" + bookid, true);
                xhttp.send()
            }

            function updateReaderList() {
                recaculateRemain();

                var out = "<br>";
                for(i = 0; i < readers.length; i++) {
                     out += "<span style=\"display:inline-block; width: 100; height: 35\">" + readers[i].reader + "</span>";
                     out += "<span style=\"display:inline-block; width: 100; height: 35\">" + intToTimeStr(readers[i].thetime) + "</span>"
                     out += "<button type=\"button\" onclick=returnBooks("+i+")> 还书 </button>"
                     out +="<br>"
                }
                document.getElementById("log").innerHTML = out;
            }

            function returnBooks(index) {
              if (index >= readers.length) {
                return
              }
              var readerName = readers[index].reader;
              var theTime = readers[index].thetime;

              var txt;
              if (confirm("确定 " + readerName + " 还书？") == true) {
                confirmReturnBook(readerName, theTime)
              } else {
                return;
              }
            }

            function confirmReturnBook(readerName, theTime) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        deleteBrrowInfo(readerName, theTime);
                        alert("还书成功！");
                        updateReaderList();
                    }
                };

                xhttp.open("GET", "confirmreturnbook?bookid=" + bookid+"&reader="+readerName+"&time="+theTime, true);
                xhttp.send()
            }

            function deleteBrrowInfo(readerName, theTime) {
              for(i = 0; i < readers.length; i++) {
                var r = readers[i].reader;
                var t = readers[i].thetime;
                if (readerName == r && theTime == t) {
                    readers.splice(i, 1);
                    break;
                }
              }
            }

            function intToTimeStr(theTime) {
              var  myDate = new Date(parseInt(theTime));
              var theyear=myDate.getFullYear()
              var themonth=myDate.getMonth()+1
              var thetoday=myDate.getDate()

              return theyear+"/"+themonth+"/"+thetoday;
           }

            function recaculateRemain(){
              var remain = totalBook - readers.length;
              document.getElementById("lastcount").innerHTML = "剩余：" + remain;
            }

            function borrowBooks(){
              if (totalBook - readers.length <= 0) {
                alert("书已经被借光了，请先催人还书 ^_^");
                return;
              }
              window.location.href = "borrow?bookid="+bookid+"&name="+bookName+"&author="+bookAuthor;
            }


            function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
                    vars[key] = value;
                });
                return vars;
            }

            function parseJsonToTable(response) {
                var arr = JSON.parse(response);

                if (arr.length == 0) {
                    return;
                }
              //  alert(arr[0].count);
                totalBook = parseInt(arr[0].count);
                document.getElementById("desc").value = arr[0].description;
                document.getElementById("count").innerHTML = "总数量：" + totalBook;

                fetchBookBorrowInfo();
                recaculateRemain();
            }

        </script>
</body>

</html>
