<html>

<body>
    <p><%=name%>
        <p/>

  <button type="button" onclick="searchBooks()"> 还 书 </button>
  <button type="button" onclick="borrowBooks()"> 借 书 </button>

                <br><br>
                <br> 作者:
                <%=author%>
                    <br> 简介：
                    <br>
                    <textarea rows="5" cols="50" id="desc"> </textarea>
                    <br>
                    总数量：
                    <div id="count">---</div>

                    剩下：
                    <div id="lastcount">---</div>
                    <br>

        <script>
            //  var url_parts = url.parse(req.url, true);
            //  var bookid = url_parts.query.bookid;
            var bookid = getUrlVars()["bookid"];
            var bookName = getUrlVars()["name"];
            var bookAuthor= getUrlVars()["author"];

            fetchBookDetail();
          //  fetchBookBorrowInfo();

            function fetchBookDetail() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    alert(this.status);
                    if (this.readyState == 4 && this.status == 200) {
                        parseJsonToTable(this.responseText);
                    }
                };

                xhttp.open("GET", "getbookdetail?bookid=" + bookid, true);
                xhttp.send()
            }

            // function fetchBookBorrowInfo() {
            //     var xhttp = new XMLHttpRequest();
            //     xhttp.onreadystatechange = function() {
            //         if (this.readyState == 4 && this.status == 200) {
            //             parseJsonToTable(this.responseText);
            //         }
            //     };
            //
            //     xhttp.open("GET", "getbookdetail?bookid=" + bookid, true);
            //     xhttp.send()
            // }

            func borrowBooks(){
              alert("borrow?bookid="+bookid+"&name="+bookName+"&author="+bookAuthor);
              window.location.href = "borrow?bookid="+bookid+"&name="+bookName+"&author="+bookAuthor;
            }

            function getUrlVars() {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
                    vars[key] = value;
                });
                return vars;
            }

            function parseJsonToTable(response) {
                var arr = JSON.parse(response);
                var i;

                if (arr.length == 0) {
                    return;
                }
                alert(arr[0].count);
                document.getElementById("desc").value = arr[0].description;
                document.getElementById("count").innerHTML = "总数量：" + arr[0].count;
            }
        </script>
</body>

</html>
