<html>
<style>

  textarea
  {
      width: 400px;
      height: 100px;
      float:center;
      border: 0.5px solid #CCC;
      font-size:15px;
      text-align: center;
  }

  button[type="button"]
  {
    width: 80px;
    height: 30px;
  }

  input[type="text"]
  {
      width: 230px;
      height: 35px;
      border: 1px solid #CCC;
      font-size:17px;
  }

</style>

   <body>
     <center>
    <h2>借书 </h2>
      <div id="first" class="tabcontent">

        <font size="4" > <br>
          书名: <%=name%>
         <br>
		       作者: <%=author%>
         <br> </front>

         <br>

         <input type="text" id = "reader" placeholder="借阅者姓名" >

         <br><br>
         <br>
         <button type="button" onclick="confirm()">确定借书</button>
         <br>

      </div>


      <script>
          var bookid = getUrlVars()["bookid"];

          function confirm(){
           var xhttp = new XMLHttpRequest();
           xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
                 alert("借书成功 已经记录");
                 window.history.back();
              //   location.replace(document.referrer);
             }};

          var reader = document.getElementById("reader").value;
           xhttp.open("GET", "confirmborrow?bookid="+bookid+"&reader="+reader, true);
           xhttp.send()
         }

         function getUrlVars() {
             var vars = {};
             var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
                 vars[key] = value;
             });
             return vars;
         }

      </script>
   </body>
</html>
