<html>

<link rel="stylesheet" type="text/css" href="css?name=table.css">

   <body>
     <center>
       <div id="header" class="headerBgimg">
         <button type="button" class="topleftcorner" onclick="openhome()"> 主页 </button>
      <h2>方舟图书检索</h2>
    </div>

    <div class="functionBar">
      <br>
      <input type="text" id = "keywords" placeholder="关键词 书名,作者或者简介" >
      <button type="button" onclick="searchBooks()">搜索</button>
      <br><br>
   </div>

      <div >
         <table id="table">
            <th>书名</th>
         </table>
         <div id="id01"></div>
      </div>
      <script>

         function searchBooks(){
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                parseJsonToTable(this.responseText, "id01");
            }};

          var keywords = document.getElementById("keywords").value;
          xhttp.open("GET", "searchbooklist?keywords="+keywords, true);
          xhttp.send()
         }

         var list=new Array; ///this one way of declaring array in javascript

         function parseJsonToTable(response, tableId) {
           var localarr = JSON.parse(response);
           list = localarr
           var i;
           var out = "<table>";

           for(i = 0; i < localarr.length; i++) {
              out += "<tr onclick=selectrow("+i+")>";
              out += "<td>" + localarr[i].name + "</td>";
              out += "</tr>";
           }
              out += "</table>";
              document.getElementById(tableId).innerHTML = out;
         }


          function selectrow(index) {
            var bookid = list[index].bookid;
            var name = list[index].name;
            var author = list[index].author;

            window.location.href = "bookdetail?bookid="+bookid+"&name="+name+"&author="+author;
           }

           function openhome() {
             window.location.href = "/";
           }
           
      </script>
   </body>
</html>
